<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
        </ng-template>        
        <ng-template [ngIf]="authService.isAuthenticated()">                    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/categories">Categories</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/books">Books</a>
          </li>
        </ng-template>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/registration">Register</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>