<div class="row">
  <div class="col">
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col" class="text-center align-middle">#</th>
                      <th scope="col" class="text-center align-middle">Category</th>
                      <th scope="col" class="text-center align-middle">Edit</th>
                      <th scope="col" class="text-center align-middle">Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let category of (categories$ | async); let i = index'>
                      <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                      <td class="text-center align-middle">{{ category.name }}</td>
                      <td class="text-center align-middle">
                        <button type="button" class="btn btn-outline-secondary">
                          Edit
                        </button>
                      </td>
                      <td class="text-center align-middle">
                            <button
                            type="button"
                            class="btn btn-danger"
                            (click)="onCategoryDelete(category)" 
                            data-toggle="modal"
                            data-target="#deleteCategoryModal"
                            >Delete
                            </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="float-right">
            <button type="button" class="btn btn-primary mr-2">
              Add Category
            </button>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Do you want to delete <i>{{selectedCategory?.name}}</i> and all books assigned to this category?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCategoryDeleteSubmit()">Submit</button>
        </div>
        </div>
    </div>
</div>