<div class="row">
  <div class="col">
    <div class="jumbotron">
        <h1 class="display-5">Library</h1>
        <p class="lead">
            Library is simple web application design to represent virtual library.
            Project was intentionally kept simple ie. it has only few entities but it shows usage of modern web technologies.
        </p>
        <hr class="my-4">
        <p>Project will be organized in several sections (named steps) where each one represents the final stage of the finished section.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://bitbucket.org/a_madjarev/library/src/master/" role="button">Learn more</a>
        </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <library-book-list></library-book-list>
  </div>
  <div class="col-lg-3">
    <library-category-list></library-category-list>
  </div>
</div>