<form (ngSubmit)="onContactSubmit(f)" #f="ngForm">
  <div class="row">
      <div class="col-4">
          <div class="form-group">
            <label for="name">E-Mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
              [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
              >
            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter valid email address!</div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              rows="4"
              class="form-control"
              id="message"
              name="message"
              ngModel
              required
              #message="ngModel"
              [ngClass]="{'is-invalid': message.invalid && (message.dirty || message.touched)}"
              ></textarea>
            <div class="invalid-feedback" *ngIf="message.invalid && (message.dirty || message.touched)">Please enter a message!</div>
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>